fastapi
pydantic>=2
uvicorn
groq>=1.6.0
pdfplumber
python-docx
notion-client
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
httplib2
python-dotenv
tenacity
httpx
requests
sqlalchemy
psycopg2-binary
tzdata
python-multipart
